<h3>Response filter definition</h3>
<p>Define the initial string keyword you want to use as filter for the ResponseToNavBar plugin. Do not include <code>Recv: </code> in your string.</p>
<p>Example: <code>NAVBAR </code> (notice the space at the end)</p>
<form class="form-horizontal">
    <div class="input-append">
        <input type="text" class="input-block-level" data-bind="value: settings.plugins.ResponseToNavBar.filter">
    </div>
</form>